[Unit]
Description=Start all MPD partitions proxy
After=mpd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cat /var/lib/mpd/partition | awk -F, '\''{for(i=2;i<=NF;i++) print i$i}'\'' | \
  while read -r p; do systemctl start mpd-proxy@"$p".service; done'
[Install]
WantedBy=multi-user.target
