[Unit]
Description=ALSA PCM volume control for MPD
After=mpd.service

[Service]
User=mpd
Group=mpd
Type=simple
Restart=always
ExecStartPost=/usr/bin/sleep 2
ExecStart=/usr/bin/python3 /usr/bin/mpdalsavol.py

[Install]
WantedBy=multi-user.target
