[Unit]
Description=Squeezelite Player
After=network.target

[Service]
Type=idle
Nice=-20
LimitRTPRIO=98
LimitMEMLOCK=infinity
#ControlGroup=cpu:/
User=squeezelite
Group=squeezelite
SupplementaryGroups=audio
EnvironmentFile=-/etc/squeezelite.conf
ExecStartPost=/usr/bin/sleep 2
ExecStartPost=/bin/sh -c "ps H -q `pidof -s squeezelite` -o 'tid,cls'|grep FF|awk '{print $1}'|while read PROC;do (taskset -cp $(($(getconf _NPROCESSORS_ONLN)-1)) $PROC;chrt -fp 95 $PROC);done;exit 0"
ExecStart=/usr/bin/squeezelite\
 $OPTIONS\
 $NAME $MAC $PRIORITY\
 $MAX_RATE $AUDIO_DEV\
 $BUFFER $CODEC $ALSA_PARAMS $VOLUME\
 $LOG_FILE $LOG_LEVEL\
 $UPSAMPLE $DOP $VISULIZER $SERVER_IP

[Install]
WantedBy=multi-user.target
