[Unit]
Description=Bind USB Interrupts to last CPU
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cpu=$(($(getconf _NPROCESSORS_ONLN)-1)); for i in $(grep xhci_hcd /proc/interrupts | awk -F: "{print \$1}" | tr -d " "); do echo $cpu > /proc/irq/$i/smp_affinity_list; done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
